tile-letters {
  position: relative;
  display: block;
  border:#0f0 solid 1px;
  margin: 10px 0;

  &-result {
    border:#f00 solid 1px;
    position: relative;
//    display: block;
    display: flex;
    //flex-direction: row;
    //justify-content: flex-start;


    tile {
      position: relative;
      display: block;
      color: #fff;
      background-color: #0000ed;
      font-size: 28px;
      padding: 20px;
      margin: 5px;
      text-transform: uppercase;
      font-weight: bold;

    }
  }
}